body {
  background-image: url("img/background.png");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
}

#header {
  background-color: #ffffff;
  width: 750px;
  height: 88px;
  margin: auto;
  right: 0px;
  margin-bottom: 20px;
}

#logo {
  display: block;
  margin: auto;
  width: 504px;
  height: 88px;
}

#nav {
  /*background-color: #ffffff;*/
  background-image: url('img/navbg.png');
  display: flex;
  margin: auto;
  width: 750px;
  height: 62px;
  /*border-bottom: 1px solid #8c8c8c;
  border-top: 1px solid #8c8c8c;*/
  margin-bottom: 25px;
}

#wrapper {
  margin: auto;
  width: 750px;
}

#About {
  width: 750px;
  float: left;
  position: relative;
}

#Effects {
  width: 750px;
  float: left;
}

#Faq {
  width: 750px;
  float: left;
}

#Flexwrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.element img {
  display: block;
  width: 170px;
  height: 319px;
}

.element .hovering {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px 0px;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.element:hover .hovering {
  opacity: 0.8;
}

#Contact {
  width: 750px;
  float: left;
}

#accordion {
  width: 250px;
  float: left;
  margin-top: 75px;
}

#showcase {
  width: 500px;
  margin-top: 75px;
  margin-left: 300px;
}

#boxbare {
  z-index: -5;
  position: absolute;
}

#knobs {
  z-index: -1;
  position: absolute;
}

#graphics {
  z-index: -3;
  position: absolute;
}

#hardware {
  z-index: -2;
  position: absolute;
}

.element {
  width: 170px;
  height: 319px;
  position: relative;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
}


/*  NOT NEEDED ANYMORE WITH HOVER
    Change the link color to #111 (black) on hover

li a:hover {
  background-color: #e0e0e0;
}

*/


/* Fade */

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #9e9e9e;
  color: white;
}


/* Underline From Center */

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #707070;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
