body {
    margin: 0
}

#header {
    background-image: url("images/Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 125px;
    margin: auto;
}

#nav {
    display: flex;
    margin: auto;
    height: 35px;
    border-top: 1px solid #d8d8d8;
    margin-bottom: 30px;
    font: 15px Georgia, serif;
}


.nav a:hover {
    color: orange;
}

.nav ul {
    list-style-type: none;
    margin: auto;
    height: 60px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
}

#content {
    background: url("images/bg5.png") top repeat-x, url("images/bg2.png") bottom repeat-x, url("images/bg3.jpg");
    width: 100%;
}

#footer {
    height: 100px;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
}