/*html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */

body {
    margin: 0;

}

#header {
    background-image: url("images/Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 125px;
    margin: auto;
}

#nav {
    display: flex;
    margin: auto;
    height: 35px;
    border-top: 1px solid #d8d8d8;
    margin-bottom: 30px;
    font: 15px Georgia, serif;
}


.nav a:hover {
    color: orange;
}

.nav ul {
    list-style-type: none;
    margin: auto;
    height: 60px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
}

#display {
    background: url("images/bg5.png") top repeat-x, url("images/bg2.png") bottom repeat-x, url("images/bg3.jpg");
    height: 500px;
    width: 100%;
}

#bandeau {
    height: auto;
}

.bflex {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  padding: 5px;
  width: auto;
  height: 200px;
  margin: 10px 5px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-item img {
    max-height: 200px;
}

#footer {
    height: 100px;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
}